.copyContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  left: 30px;
  bottom: 100px;

  hr {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .copyHeading {
    font-size: 1rem;
  }

  .copyDescription {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
  }
}